{% extends 'base.twig' %}

{% block content %}

<div class="container">
    <div id="product-{{ post.id }}" {{ fn('post_class', ['product', 'product--' ~ post.product.get_type()]) }}>
        {##
         # woocommerce_before_single_product hook.
         #
         # @hooked wc_print_notices - 10
         #}
        {% do action('woocommerce_before_single_product') %}

        <h1 class="heading-1" id="main-title">{{ post.title }}</h1>

        {% if post.thumbnail %}
            <img src="{{ post.thumbnail.src('thumbnail') }}">
        {% endif %}

        {##
		 # woocommerce_before_single_product_summary hook.
		 #
		 # @hooked woocommerce_show_product_sale_flash - 10
		 # @hooked woocommerce_show_product_images - 20
		 #}
        {% do action('woocommerce_before_single_product_summary') %}

        <div class="product-summary">
            {##
			 # woocommerce_single_product_summary hook.
			 #
			 # @hooked woocommerce_template_single_title - 5
			 # @hooked woocommerce_template_single_rating - 10
			 # @hooked woocommerce_template_single_price - 10
			 # @hooked woocommerce_template_single_excerpt - 20
			 # @hooked woocommerce_template_single_add_to_cart - 30
			 # @hooked woocommerce_template_single_meta - 40
			 # @hooked woocommerce_template_single_sharing - 50
			 # @hooked WC_Structured_Data::generate_product_data() - 60
             #}
            {% do action( 'woocommerce_single_product_summary' ) %}

            <div class="content">{{ post.content }}</div>
        </div>

        {##
		 # woocommerce_after_single_product_summary hook.
		 #
		 # @hooked woocommerce_output_product_data_tabs - 10
		 # @hooked woocommerce_upsell_display - 15
		 # @hooked woocommerce_output_related_products - 20
         #}
        {% do action('woocommerce_after_single_product_summary') %}
    </div>

    {% do action('woocommerce_after_single_product') %}
</div>

{% endblock %}
